<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="example.css"></head>
</head>

<body ng-app="app" ng-controller="mainCtrl">
	<p>Click the button to see it in action. The directive handles the state changing logic of replacing the button text and toggling a loading class.</p>

	<div>
		<a ng-click="toggleLoadingState()">Toggle loading state manually</a>
	</div>

	<tute-loading-button
		class="btn btn-big btn-pri"
		type="submit"
		ng-click="getPokemon()"
		loading="requestPending" 
		loading-text="'Catching...'" 
		text="'Gotta catch em all'"
	>
	</tute-loading-button>

	<h3>You caught: {{ selectedPokemon }}</h3>

	<hr>

	<h3>Select your starting Pokemon</h3>
	<tute-radio-group-button buttons="radios" ng-model="radioVal"></tute-radio-group-button>
	<p>Your choice: {{ radioVal.label }}</p>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
	<script src="../dist/tute-buttons-all.js"></script>
	<script src="example.js"></script>
</body>
</html>
